numpy==1.19.1
pandas==1.1.5
scipy==1.5.3
scikit-learn==0.23.2
matplotlib==3.3.2
biopython==1.77
django==1.11.29
djangorestframework==3.5.3
drfdocs==0.0.11
drf-tracking==1.0.1
django-cors-headers==2.0.0
django_rq==0.9.2
gunicorn~=19.3
jinja2==2.10.1
redis==2.10.5
rq==0.6.0
requests>=2.20.0
watchdog==0.8.3
python-Levenshtein==0.12.1
sklearn==0.0
weighted_levenshtein==0.2.1
openpyxl==3.0.1
weasyprint==51
xlrd==1.2.0
xlwt==1.3.0
pygraphviz==1.5
networkx==2.4
# EGF packages:
bandwagon
bandwitch
caravagene
crazydoc
dna_features_viewer
dnacauldron
dnachisel
easy_dna
flametree
geneblocks
genedom
goldenhinges
kappagate
pdf_reports
plateo
primavera
proglog
saboteurs
sequenticon
snapgene_reader
tatapov
zymp
